<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/Styles/Default/main.css" />
</head>
<body>
    <div class="main-div">
        <header>

        </header>

        <main>
            @RenderBody()
        </main>

        <footer>

        </footer>
    </div>
</body>
</html>
